body {
    background-image: url(ice.png);
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

button#save-button {
    border: black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    margin-bottom: 5px;
    border-radius: 5px;
}

button#increment {
    border: black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    margin-bottom: 5px;
    border-radius: 5px;
}

button#water-reset {
    border: black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    margin-bottom: 75px;
    border-radius: 5px;
}

button#sf-buyer {
    border: black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    width: 250px;
    margin-bottom: 5px;
    border-radius: 5px;
}

div#ice-counter {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
    color: rgb(96, 127, 141);
    text-align: center;
}

div#hypervolume {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(65, 78, 84);
    text-align: center;
}

div#water-counter {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
    color: rgb(4, 147, 213);
    text-align: center;
}

div#snowflake {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
    color: rgb(63, 139, 73);
    text-align: center;
}

div#sf-boosts {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
    color: rgb(63, 139, 73);
    text-align: center;
}

div#info {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
}
